{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="text-center title-text my-3">Edit Lesson</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<main class="container page-contents">
    <div class="row">
        <div class="col-12 mb-3">
            <form method="POST" action="{% url 'edit_lesson' lesson.lesson_id %}" class="form" enctype="multipart/form-data" id="lesson-form">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        <p>Current Image*</p>
                        <div class="current-image-container" id="current-image-container">
                            <img class="mb-3" src="{{ MEDIA_URL }}{{ lesson.image }}" alt="image for {{ lesson.lesson_name }}" width="100" height="100" id="current-image">
                        </div>
                        <div id="change-image">
                            <label for="id_image" id="id_image_label" class="btn btn-custom-darken">Change Image</label>
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="checkout-buttons mt-5">
                    <a href="{% url 'instructor_admin' %}" class="btn btn-custom-invert">
                        Cancel
                    </a>
                    <input class="btn btn-custom-darken" type="Submit" value="Update">
                </div>
            </form>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light loading-spinner">
            <span class="icon">
                <p class="text-center">Updating...</p>
                <p class="text-center">
                    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                </p>
            </span>
        </h1>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'lessons/js/form_file_changer.js' %}"></script>
    <script src="{% static 'lessons/js/loading_spinner.js' %}"></script>
{% endblock %}
