{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="account-overlay"></div>
    <div class="account-container pt-4 d-flex justify-content-center">
        <div class="row bg-white checkout-border">
            <div class="col-12">
                <h1 class="text-center mb-3" id="lesson-page-title">Order Placed!</h1>
                <p class="text-center mb-0"><strong>Thank You!</strong></p>
                <hr>
                <p class="text-center">Your order was successfully placed, below is your order information</p>
                <hr>
                <p>Name: {{ order.full_name }}</p>
                <p>Email: {{ order.email }}</p>
                <p>Order Number: {{ order.order_number }}</p>
                <p>Total: €{{ order.grand_total|floatformat:2 }}</p>
                {% if discount > 0 %}
                <p>You saved: {{ order.discount }} on this order</p>
                {% endif %}
                <hr>
                <p class="text-center"><strong>Summary</strong></p>
                {% for item in order.lineitems.all %}
                <div class="row order-items my-2 mx-3">
                    <div class="col-12 col-sm-8">
                        <p class="text-muted text-center text-sm-left mb-1">{{ item.lesson.lesson_name }}</p>
                    </div>
                    <div class="col-6 col-sm-2">
                        <p class="text-muted text-right mb-1">€{{ item.lesson.price }}</p>
                    </div>
                    <div class="col-6 col-sm-2">
                        <a class="btn btn-sm btn-success" href="{% url 'studio' item.lesson.lesson_id %}" id="start_lesson_button_id_{{ lesson.lesson_id }}" role="button">Begin</a>
                    </div>
                </div>
                {% endfor %}
                <hr class="mt-4">
            </div>
        </div>
    </div>
</div>

{% endblock %}
