{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-8 my-auto text-center">
                {% if user.is_authenticated %}
                    <h1 class="display-4 me-auto my-4 mx-4 p-3 index-main-text rounded shadow-sm alt-text">Breathe deep <strong>{{ user|title }}</strong> and continue your Yoga journey</h1>
                    <div>
                        <!-- Contextual Button choice -->
                        {% if subscribed_lessons %}
                            <a href="{% url 'lessons'%}?filter=subscribed_lessons" class="btn btn-lg btn-success rounded-20 py-3 my-4">Your Subscribed Lessons</a>
                        {% else %}
                            <a href="{% url 'instructors' %}" class="btn btn-lg btn-success rounded-20 py-3 my-4">Find an instructor</a>
                        {% endif %}
                        {% if profile.is_instructor %}
                            <p><a href="{% url 'instructor_admin' %}" id="instructor_admin_frontpage_button" class="btn btn-lg btn-warning rounded-20 py-3 my-4">Instructor Admin</a></p>
                        {% endif %}
                    </div>
                {% else %}
                    <h1 class="display-4 me-auto mx-4 p-3 index-main-text rounded shadow-sm alt-text">Breathe deep and begin your Yoga journey here</h1>
                    <div>
                        <a href="{% url 'instructors' %}" class="btn btn-lg btn-success rounded-20 py-3 my-4">Find an instructor</a>
                    </div>                
                {% endif %}
                <div class="mx-auto mt-3 bg-success rounded p-1" id="featured-lessons">
                    <a href="" class="mx-auto style-link" id="featured-image-link">
                        <p class="text-white m-0 pb-1" id="featured-title">kjh</p>
                        <img src="javascript_injects" alt="javascript_injects" class="img-fluid rounded border-right-success border-left-success" id="featured-image">
                        <p class="text-white m-0 pt-1">Featured Free Lesson!</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script id="json_lessons">
        {{ json_lessons|safe }}
    </script>
    <script>
    // Display random lessons with delay
    $(document).ready(function() {
        // Get Lessons and convert to json object
        let lessons = document.getElementById("json_lessons").textContent.trim()
        let json_lessons = JSON.parse(lessons)
        let size = Object.keys(json_lessons).length
        let count = 1
        let mediaUrl = '{{ MEDIA_URL }}'
        let studioUrl = '{% url "studio" "lesson_id" %}'

        function next() {
            $('#featured-title').text(json_lessons[count % size].lesson_name)
            $('#featured-image').attr("src",mediaUrl + json_lessons[count % size].image);
            $('#featured-image-link').attr('href', studioUrl.replace('lesson_id', json_lessons[count % size].lesson_id))
            count++;
            setTimeout(next, 5000);
        };
        next();
        
    });
    </script>
{% endblock %}