{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto text-center">
                {% if user.is_authenticated %}
                <h1 class="display-4 me-auto my-4 mx-4 pb-2 index-main-text rounded shadow-sm">Breathe deep {{ user|title }} and continue your Yoga journey</h1>
                {% else %}
                <h1 class="display-4 me-auto my-4 mx-4 pb-2 index-main-text rounded shadow-sm">Breathe deep and begin your Yoga journey here</h1>
                {% endif %}

                <div>
                    <h2>
                        <a href="{% url 'lessons' %}" class="find-lesson-button btn btn-lg btn-warning rounded-20 py-3 my-4">Find a Lesson</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
