{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto text-center">
                {% if user.is_authenticated %}
                <h1 class="display-4 me-auto my-4 mx-4 pb-2 index-main-text rounded shadow-sm">Breathe deep <strong>{{ user|title }}</strong> and continue your Yoga journey</h1>
                <div>
                    {% if subscribed_lessons %}
                        <a href="{% url 'lessons'%}?filter=mylessons" class="index-main-button btn btn-lg btn-warning rounded-20 py-3 my-4">Your Subscribed Lessons</a>
                    {% else %}
                        <a href="{% url 'instructors' %}" class="index-main-button btn btn-lg btn-warning rounded-20 py-3 my-4">Find an instructor</a>
                    {% endif %}
                </div>
                {% else %}
                    <h1 class="display-4 me-auto my-4 mx-4 pb-2 index-main-text rounded shadow-sm">Breathe deep and begin your Yoga journey here</h1>
                    <div>
                        <a href="{% url 'instructors' %}" class="index-main-button btn btn-lg btn-warning rounded-20 py-3 my-4">Find an instructor</a>
                    </div>                
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
