{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="text-center title-text my-3">Superuser Admin</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mx-auto page-contents">
        <div class="row mx-auto">
            <div class="col-12">
                <hr>
                <p class="text-center mb-3"><strong>User requests to become instructors</strong></p>
                {% if user_requests %}
                <!-- User requests to become instructor collapsed -->
                    <div class="active-instructors my-3">
                        <p class="text-center">
                            <a class="btn btn-sm btn-primary" data-toggle="collapse" href="#instructor-requests" role="button" aria-expanded="false" aria-controls="instructor-requests-control">
                                Show / Hide
                            </a>
                        </p>
                        <div class="collapse" id="instructor-requests">
                            {% for request in user_requests %}
                                <!-- User requesting instructor status-->
                                <div class="row mx-1 mx-lg-4 mt-1 mt-lg-3 p-3 border custom-border">
                                    <div class="col-12 col-md-4">
                                        <div class="container-fluid p-0 p-md-3">
                                            <!-- request image -->
                                            <div class="d-flex justify-content-center">
                                                {% if request.image %}
                                                    <img src="{{ request.image.url }}" class="img-fluid profile-image" alt="{{ request }}'s profile image'">
                                                {% else %}
                                                    <img src="{{ MEDIA_URL }}profile_images/no_profile_image.jpg" class="img-fluid profile-image" alt="{{ request }}'s profile image'">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Profile info-->
                                    <div class="col-12 col-md-8 my-2">
                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-2">
                                                <p class="text-center text-md-left m-0 px-0"><strong>Username</strong>:</p>
                                            </div>
                                            <div class="col-12 col-md">
                                                <p class="text-center text-md-left m-0 px-0">{{ request }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-2">
                                                <p class="text-center text-md-left m-0 px-0"><strong>Email</strong>:</p>
                                            </div>
                                            <div class="col-12 col-md">
                                                <p class="text-center text-md-left m-0 px-0">{{ request.user.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-3 col-lg-2">
                                                <p class="text-center text-md-left m-0 px-0"><strong>Profile</strong>:</p>
                                            </div>
                                            <div class="col-12 col-md">
                                                <p class="text-center text-md-left m-0 px-0">{{ request.profile_description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                <!-- Accept / Reject request to become admin -->
                                    <div class="row w-100">
                                        <div class="col d-flex">
                                            <div class="mx-auto">
                                                <span><a class="btn btn-primary" href="{% url 'update_instructor_status' user 'accept' %}" role="button">Accept</a></span>
                                                <span><a class="btn btn-primary" href="{% url 'update_instructor_status' user 'reject' %}" role="button">Reject</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <p class="text-center">No requests</p>
                {% endif %}
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-12">
                <hr>
                <p class="text-center mb-3"><strong>Active instructors</strong></p>
                {% if instructors %}
                    <!-- List of active instructors collapsed -->
                    <div class="my-3">
                        <p class="text-center">
                            <a class="btn btn-sm btn-primary" data-toggle="collapse" href="#active-instructors" role="button" aria-expanded="false" aria-controls="active-instructors-control">
                                Show / Hide
                            </a>
                        </p>
                        <div class="collapse" id="active-instructors">
                            {% for instructor in instructors %}
                                <div class="row border custom-border my-2">
                                    <div class="col-12 col-sm-8 p-2">
                                        <p class="m-0 pl-2">Username : {{ instructor }}</p>
                                        <p class="m-0 pl-2">Email : {{ instructor.user.email }}</p>
                                    </div>
                                    <div class="col-12 col-sm-4 p-2 d-flex">
                                        <p class="m-auto"><a class="btn btn-danger" href="{% url 'update_instructor_status' instructor 'remove' %}" role="button">Remove</a></p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                        <p>No instructors</p>
                {% endif %}
            </div>
        </div>
         <div class="row mx-auto">
            <div class="col-12">
                <hr>
                <p class="text-center mb-3"><strong>Flagged Reviews</strong></p>
                {% if flagged_reviews %}
                    <!-- Flagged reviews -->
                    <div class="my-3">
                        <p class="text-center">
                            <a class="btn btn-sm btn-primary" data-toggle="collapse" href="#flagged-reviews" role="button" aria-expanded="false" aria-controls="flagged-reviews-control">
                                Show / Hide
                            </a>
                        </p>
                        <div class="collapse" id="flagged-reviews">
                            {% for flagged in flagged_reviews %}
                                <div class="row border custom-border my-2 py-2" id="flagged_div_{{ flagged.pk }}">
                                    <div class="col-12">
                                        <p class="m-0"><strong>Review of : {{ flagged.review.lesson.lesson_name }}</strong></p>
                                        <p class="m-0 text-muted"><small>By: {{ flagged.review.profile }}</small></p>
                                        <p class="m-0 text-muted"><small>Flagged By: {{ flagged.profile }}</small></p>
                                        <p class="mx-0 my-3">{{ flagged.review.review }}</p>
                                    </div>
                                    <!-- Flagged review buttons -->
                                    <div class="row w-100">
                                        <div class="col d-flex" id="flagged_buttons_{{ flagged.pk }}">
                                            <div class="mx-auto">
                                                <span><a class="btn btn-sm btn-primary" href="javascript:delete_review('{{ flagged.pk }}', '{{ flagged.review.pk }}')" role="button">Ignore</a></span>
                                                <span><a class="btn btn-sm btn-danger" href="javascript:delete_review('{{ flagged.pk }}', '{{ flagged.review.pk }}')" role="button">Remove Review</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                        <p>No instructors</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    {% include 'home/includes/superuser_admin_js.html' %}
{% endblock %}