{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col">
                <h1>Instructor:  {{ instructor_profile }}</h1>
                <div class="accordion" id="accordionExample">
                    {% for lesson in lessons %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="lesson_{{ lesson.lesson_id }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ lesson.lesson_id }}" aria-expanded="false" aria-controls="{{ lesson.lesson_id }}">
                                <p>{{ lesson.lesson_name }}?</p>
                          </button>
                        </h2>
                        <div id="{{ lesson.lesson_id }}" class="accordion-collapse collapse" aria-labelledby="lesson_{{ lesson.lesson_name }}" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {% include 'lessons/snippets/lesson_card.html' %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}  
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.button-unsubscribe').hover(function() {
            $(this).html('Unsubscribe')
        }, function() {
            $(this).html('Subscribed!')
        })
</script>

{% endblock %}