{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Our instructors</h1>
                <h2 class="text-center mb-3">Find an instructor to suit you!</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container page-contents">
        <div class="row">
            <div class="col-12">
                {% for instructor in instructor_list %}
                    <div class="card mb-3 border custom-border">
                        <div class="row g-0">
                            <div class="col-md-4">
                            {% if instructor.image %}
                                <div class="instructor-card-image-container mt-2 d-flex justify-content-center">
                                    <img src="{{ instructor.image.url }}" class="instructor-card-image profile-image img-fluid" alt="{{ instructor.first_name }}">
                                </div>
                            {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body h-100 d-flex flex-column">
                                    <h5 class="card-title"><a href="{% url 'lessons' %}?instructor={{ instructor.id }}" class="style-link">{{ instructor }}</a></h5>
                                    <p class="text-muted mb-0">Rating : {{ instructor.rating }}{% if instructor.rating %} / 10{% endif %}</p>
                                    <p class="text-muted">Lessons available : {{ instructor.lesson_count }}</p>
                                    <p class="card-text alt-font">{{ instructor.card_description }}</p>
                                    <p class="card-text mt-auto"><a class="btn btn-primary w-100" href="{% url 'lessons' %}?instructor={{ instructor.id }}" role="button">{{ instructor }}'s Studio</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
