{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    
    <div class="container h-100">
        <!-- Title -->
        <div class="row">
            <div class="col">
                <h1 class="text-center my-3">Welcome to {{ instructor_profile }}'s studio</h1>
            </div>
        </div>
        <!-- Profile -->
        <div class="row profile-container">
            <div class="col-6">
                <div class="row image-and-gallery-container">
                    <div class="col-12">
                        <div class="row instructor-page-profile-image-container">
                            <img src="{{ instructor_profile.image.url }}" class="instructor-page-profile-image" alt="{{ instructor_profile }}'s profile image'">
                        </div>
                        <div class="row instructor-page-profile-gallery-container">
                            <p class="text-center">GALLERY STUFF HERE</p>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="col">
                <p class="align-middle">{{ instructor_profile.profile_description }}</p>
            </div>
        </div>
        <!-- Lessons -->                
        <div class="row mt-3">
            {% for lesson in lessons %}
                {% include 'lessons/snippets/lesson_card.html' %}
            {% endfor %}  
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
    function subscribe(subscribe, lesson_id) {
        $.ajax({
            type:"GET",
            url:"/lessons/subscriptions",
            data:{  
                    subscribe: subscribe,
                    lesson_id: lesson_id,
                },
            success: function(json_response){
                if (json_response['subscription_status'] == 'unsubscribed') {
                    // Unsub button
                    $('#unsubscribe_lesson_button_id_'+lesson_id).hide();
                    // Sub button
                    $('#subscribe_lesson_button_id_'+lesson_id).removeAttr('hidden');
                    $('#subscribe_lesson_button_id_'+lesson_id).show();
                    // Start Lesson button
                    $('#start_lesson_button_id_'+lesson_id).hide();
                } else if (json_response['subscription_status'] == 'subscribed') {
                    // Unsub button
                    $('#unsubscribe_lesson_button_id_'+lesson_id).removeAttr('hidden');
                    $('#unsubscribe_lesson_button_id_'+lesson_id).show();
                    // Sub button
                    $('#subscribe_lesson_button_id_'+lesson_id).hide();
                    // Start Lesson button
                    $('#start_lesson_button_id_'+lesson_id).removeAttr('hidden');
                    $('#start_lesson_button_id_'+lesson_id).show();
                }
            }
        })
    }
    </script>
{% endblock %}