{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col">
                <h1>Instructor List</h1>
                <div class="card-group">
                    {% for instructor in instructor_list %}
                    <div class="card">
                        <img src="{{ instructor.image_url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{ instructor }}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><a class="btn btn-primary" href="{% url 'instructor_profile' instructor.id %}" role="button">View Instructor</a></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}