{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col">
                <!-- Instructor -->
                {% if lessons and profile.is_instructor %}
                    <h1>{{ profile.first_name|title }}'s Profile</h1>
                    <p>Welcome back instructor {{ profile.first_name }}</p>
                    <hr>
                    <p>Here is a list of your created lessons</p>
                    {% for lesson in lessons %}
                    <p>
                        <span>
                            <strong>Name </strong>   {{ lesson.lesson_name }}
                            <strong>| Description   </strong>{{ lesson.description }}
                            <strong>| Link   </strong>{{ lesson.url }}
                        </span>
                    </p>
                    {% endfor %}
                <!-- Student -->
                {% else %}
                    <h1>{{ profile.first_name|title }}'s Profile</h1>
                    <p>Welcome back student {{ profile.first_name }}</p>
                    <hr>
                    <p>Here is a list of your subscribed lessons</p>
                    {% for lesson in lessons %}
                    <p>
                        <span>
                            <strong>Name </strong>   {{ lesson.lesson_name }}
                            <strong>| Description   </strong>{{ lesson.description }}
                            <strong>| Link   </strong>{{ lesson.url }}
                        </span>
                    </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}