{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mb-3">{{ profile|title }}'s profile</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container page-contents mt-4">
        <!-- Profile -->
        <div class="row profile-container">
            <div class="col-12 col-md-5 p-sm-0">
                <div class="row text-center m-0">
                    <div class="container-fluid instructor-page-profile-image-container p-0">
                        {% if profile.image %}
                            <img src="{{ profile.image.url }}" class="instructor-page-profile-image img-fluid" alt="{{ profile }}'s profile image'">
                        {% else %}
                            <img src="{{ MEDIA_URL }}/profile_images/no_profile_image.jpg" class="instructor-page-profile-image img-fluid" alt="{{ profile }}'s profile image'">
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Profile description -->
            <div class="col-12 col-md-7 instructor-profile-description-container mt-3 mt-md-0">
                <div class="table-container d-flex justify-content-center justify-content-md-start">
                    <table class="profile-table">
                        <tr>
                            <td><p><strong>First Name</strong></p></td>
                            <td><p>:</p></td>
                            <td><p>{{ profile.first_name }}</p></td>
                        </tr>
                        <tr>
                            <td><p><strong>Second Name</strong></p></td>
                            <td><p>:</p></td>
                            <td><p>{{ profile.last_name }}</p></td>
                        </tr>
                        <tr>
                            <td><p><strong>Status</strong></p></td>
                            <td><p>:</p></td>
                            <td>
                                {% if profile.is_instructor and profile.requested_instructor_status %}
                                    <p>Instructor</p>
                                {% endif %}
                                {% if profile.is_instructor == False and profile.requested_instructor_status %}
                                    <p>Instructor pending review</p>
                                {% endif %}
                                {% if profile.is_instructor == False and profile.requested_instructor_status == False %}
                                    <p>Student</p>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                <p class="text-center text-md-left">{{ profile.profile_description }}</p>
            </div>
        </div>
        <!-- Buttons -->                
        <div class="row mt-3">
            <div class="col-12 col-md-6 px-sm-0 d-flex justify-content-center justify-content-md-start">
                {% if profile.is_instructor and profile.requested_instructor_status %}
                    <a href="" class="index-main-button btn btn-lg btn-primary disabled rounded-20 py-3 my-4">Instructor Status Granted</a>
                {% endif %}
                {% if profile.is_instructor == False and profile.requested_instructor_status %}
                    <a href="{% url 'request_instructor_status' 'unrequest'%}" class="index-main-button btn btn-lg btn-warning rounded-20 py-3 my-4">Under Review</a>
                {% endif %}
                {% if profile.is_instructor == False and profile.requested_instructor_status == False %}
                    {% if profile_complete %}
                        <a href="{% url 'request_instructor_status' 'request'%}" class="index-main-button btn btn-lg btn-warning rounded-20 py-3 my-4">Request Instructor Status</a>
                    {% else %}
                        <a href="{% url 'profile' %}?error=profile_error" class="index-main-button btn btn-lg btn-warning rounded-20 py-3 my-4">Request Instructor Status</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-12 col-md-6 px-sm-0 d-flex justify-content-center justify-content-md-end">
                <a href="{% url 'edit_profile' %}" class="index-main-button btn btn-lg btn-warning rounded-20 py-3 my-4">Edit Profile</a>
            </div>
        </div>
    </div>

{% endblock %}