<div class="row">
    <div class="col-2">
        {% if review.profile.image %}
            <img src="{{ review.profile.image.url }}" class="instructor-page-profile-image img-fluid" alt="{{ review.profile }}'s profile image'">
        {% else %}
            <img src="{{ MEDIA_URL }}profile_images/no_profile_image.jpg" class="instructor-page-profile-image img-fluid" alt="{{ review.profile }}'s profile image'">
        {% endif %}
    </div>
    <div class="col-10">
        <h5 class="review-title mb-0">{{ review.profile }}'s Review</h5>
        <p class="review-rating mb-2">{{ review.rating }} / 10</p>
        <p class="review-text">{{ review.review }}</p>
        <p class="review-text text-muted mt-2">{{ review.date }}</p>
        <hr>
    </div>
</div>
