<div class="row lesson-review-div mb-4">
    <div class="col-3 col-sm-2 col-lg-1 pt-3">
        {% if review.profile.image %}
            <img src="{{ review.profile.image.url }}" class="review-image rounded-circle" alt="{{ review.profile }}'s profile image'">
        {% else %}
            <img src="{{ MEDIA_URL }}profile_images/no_profile_image.jpg" class="review-image rounded-circle" alt="{{ review.profile }}'s profile image'">
        {% endif %}
    </div>
    <div class="col">
        <p class="review-title my-0"><strong>{{ review.profile }}'s Review</strong></p>
        <p class="text-muted my-0"><small><strong>{{ review.rating }} / 10</strong></small></p>
        <p class="review-text mb-0 mt-2">{{ review.review }}</p>
        <p class="review-text text-muted my-0"><small>{{ review.date }}</small>
            {% if review.profile == profile %}
            <a href="{% url 'review_lesson' lesson.lesson_id %}" class=" btn btn-sm py-0 pl-4 my-0">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url 'delete_review' lesson.lesson_id %}" class=" btn btn-sm text-danger py-0 pl-4 my-0">
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>
            </a>
            {% endif %}
        </p>
    </div>
</div>
