/* ---------------------------------------- Main */
html {
    height: 100%
}

body {
    background: url('/media/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #534a47;
    font-family: 'Quicksand';
}

.title-text {
    font-size: 2rem;
}

.index-main-text {
    font-size: 2rem;
    background-color: rgba(255, 255, 255, .5);
}

.lesson-sort-bar {
    width: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* ---------------------------------------- Fonts */
.alt-font {
    font-family: 'Lato';
}

/* ---------------------------------------- Links */
.style-link {
    color: #534a47;
}

.style-link:hover {
    color: #534a47;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

/* ---------------------------------------- Colours */
.navbar-custom {
    background-color: #534a47;
}

.navbar-custom a{
    color: #e0d8d0;
}

.icon-colour-white {
    color: #fff;
}

.bg-colour-primary {
    background-color: #534a47;
}

.bg-colour-secondary {
    background-color: #e0d8d0;
}

.colour-primary {
    color: #534a47 !important;
}

/* ---------------------------------------- Nav */
.nav-link-format {
    text-decoration: none;
}

/* ---------------------------------------- Header */
.header-container {
    margin-top: 56px;
}

/* ---------------------------------------- Account pages */
.account-container {
    display: inline-block;
}

.account-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* ---------------------------------------- Profiles pages */
.profile-table td {
    padding-right: 20px;
}

.profile-buttons a {
    width: 100%;
}

/* ---------------------------------------- Card formatting */
.lesson-card-image-container {
    background-color: darkgray;
}


/* ---------------------------------------- Crispy form styling */
.custom-crispy-form-styling {
    border-color: #534a47;
}

/* ---------------------------------------- Basket table */
.basket-item-table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.w-image {
    width: 15%
}

.w-name {
    width: 65%
}

.w-price {
    width: 20%
}

/* ---------------------------------------- Toasts */
.toast-topbar {
    height: 3px;
}

.custom-toast {
    overflow: visible;
}

.message-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99999999;
}

/* ---------------------------------------- Media Queries */
@media (min-width: 412px) {
    .account-overlay {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background: url('/media/account-bg-blur.jpg') no-repeat center center fixed;
        background-size: cover;
        z-index: -1;
    }
    .account-border {
        border: solid 1px #534a47;
    }
}

/* ----------------- Bootstrap MD breakpoint */
@media (min-width: 768px) {
    .account-overlay {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background: url('/media/account-bg-blur.jpg') no-repeat center center fixed;
        background-size: cover;
        z-index: -1;
    }

    .title-text,
    .index-main-text {
        font-size: 3rem;
    }
}
    
@media (min-width: 1200px) {
        .paget-contents {
            max-width: 1800px;
        }


}