.navbar-custom {
    background-color: #c5e0b4;
}

.header-container {
    margin-top: 56px;
}

body {
    background: url('/media/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
}

.index-main-text {
    background-color: rgba(255, 255, 255, .5);
}

.lesson-sort-bar {
    width: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* -----------------------------------------  Card formatting */
.lesson-card-image-container {
    background-color: darkgray;
}

.lesson-card-image {

}

/* ---------------------------------------- Instructor profile page */

.instructor-page-profile-gallery-container {
    height: 10vh;
    background-color: darkgray;
}

.instructor-page-profile-image-container {
    max-height: 60vh;
    background-color: lightgray;
    object-fit: fill;
    overflow: hidden;
}
