.navbar-custom {
    background-color: #c5e0b4;
}

body {
    background: url('/media/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}