/* ---------------------------------------- General */
html {
    height: 100%;
}

body {
    background: url('/static/images/backgrounds/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: 75% 40px;
    height: calc(100vh - 63px);
    color: #534a47;
    font-family: 'Quicksand';
    font-size: 16px;
}

.title-text {
    font-size: 1.5rem;
}

.index-main-text {
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, .7);
}

.smaller-text {
    font-size: 1rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.header-container {
    margin-top: 0px;
}

.custom-border {
    border: solid 1px #534a47;
    border-radius: .25rem;
    
}

/* ---------------------------------------- Fonts */
.alt-font {
    font-family: 'Lato';
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

/* ---------------------------------------- Buttons */
.btn-custom-invert {
    background: white;
    color: #534a47 !important;
    border: 1px solid black;
}

.btn-custom-invert:hover,
.btn-custom-invert:active,
.btn-custom-invert:focus {
    background: #534a47;
    color: white !important;
    outline: none !important;
    box-shadow: none;
}

.btn-custom-darken {
    background: #534a47;
    color: #fff !important;
    border: 1px solid black;
}

.btn-custom-darken:hover,
.btn-custom-darken:active,
.btn-custom-darken:focus {
    background: #3b3532;
    color: #fff !important;
    outline: none !important;
    box-shadow: none;
}

#id_image_label {
    cursor: pointer;
}

#id_image {
    opacity: 0;
    position: absolute;
    z-index: -1; 
}
/* ---------------------------------------- Icons */
.custom-icon-image {
    width: 38px;
    height: 38px;
}

/* ---------------------------------------- Links */
.style-link {
    color: #534a47;
}

.style-link:hover {
    color: #534a47;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

/* ---------------------------------------- Colours */
.navbar-custom {
    background-color: #534a47;
}

.navbar-custom a{
    color: #e0d8d0;
}

.icon-colour-white {
    color: #fff;
}

.colour-primary {
    color: #534a47 !important;
}

/* ---------------------------------------- Nav */
.nav-link-format {
    text-decoration: none;
}

.nav-link-format:hover {
    text-decoration: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* ---------------------------------------- Home page */
#featured-lessons {
    width: 50%;
}

.bg-featured {
    background-color: #534a47;
    border: 1px solid #e0d8d0;
}

/* ---------------------------------------- Account pages */
.account-container {
    display: inline-block;
}

.account-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* ---------------------------------------- Profiles pages */
.profile-buttons a {
    width: 100%;
    max-width: 425px;
    text-align: center;
}

.profile-image {
    max-width: 120px;
    border-radius: 50%;
}

/* ---------------------------------------- Lesson Cards */
.lesson-card-image {
    max-width: 120px;
    border-radius: 7%;
}

.lesson-admin-images {
    width: 100%;
    max-width: 150px;
}

/* ---------------------------------------- Crispy form styling */
.custom-crispy-form-styling {
    border-color: #534a47;
}

/* ---------------------------------------- Basket table */
.basket-item-table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.w-image {
    width: 15%;
}

.w-name {
    width: 65%;
}

.w-price {
    width: 20%;
}

/* ---------------------------------------- Studo & Reviews */
.review-image {
    width: 100%;
    max-width: 70px;
}

.instructor-admin-card-text p,
.lesson-review-div p:not(:first-child) {
    line-height: 1.3;
    font-size: 14px;
}

/* ---------------------------------------- Instructor Admin */
.instructor-admin-button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* ---------------------------------------- Toasts */
.toast-topbar {
    height: 5px;
}

.custom-toast {
    overflow: visible;
}

.message-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99999999;
}

/* ---------------------------------------- Media Queries */
/* ----------------- Bootstrap SM breakpoint */
@media (min-width: 412px) {
    .account-overlay {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background: url('/static/images/backgrounds/account-bg-blur.jpg') no-repeat center center fixed;
        background-size: cover;
        z-index: -1;
    }

    .account-border {
        border: solid 1px #534a47;
    }

    .checkout-border {
        border: solid 1px #534a47;
        padding: 30px;
    }

    .instructor-admin-button {
            width: 75%;
        }
}

/* ----------------- Bootstrap MD breakpoint */
@media (min-width: 768px) {
    .account-overlay {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background: url('/static/images/backgrounds/account-bg-blur.jpg') no-repeat center center fixed;
        background-size: cover;
        z-index: -1;
    }

    .title-text,
    .index-main-text {
        font-size: 2rem;
    }

    .profile-image {
        width: 100%;
        max-width: 200px;
        border-radius: 0%;
        overflow: hidden;
    }

    .lesson-card-image {
        width: 100%;
        max-width: 425px;
        overflow: hidden;
    }
}

/* ----------------- Desktop breakpoint */
@media (min-width: 1200px) {
        .paget-contents {
            max-width: 1800px;
        }

        body {
            background-position: 0 35px;
        }

        .header-container {
            margin-top: 56px;
        }

        .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1049;
        }

        .instructor-admin-button {
            width: 50%;
        }

        #featured-lessons {
            width: 25%;
        }
}