<div class="row pt-2" id="instructor-search">
    <div class="col-12 d-flex">
        <div class="form-container mx-auto">
            <form class="form" method="GET" action="{% url 'instructors' %}">
                <div class="input-group w-100">
                    <input type="text" name="q" placeholder="Search Instructors" value="{% if current_query %}{{ current_query }}{% endif %}">
                    <div class="input-group-append">
                        <button class="btn btn-custom-darken text-white" type="submit">
                            <span>
                                <i class="fas fa-search"></i>                    
                            </span>
                        </button>
                    </div>
                </div>
                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                <input type="hidden" name="sort_direction" value="{{ sort_direction }}">
            </form>        
        </div>
    </div>
</div>
<div class="dropdown d-flex justify-content-center my-2">
    <a class="btn btn-custom-darken btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
        <!-- Sort by lesson name-->
        <div class="dropdown-item w-100 d-flex justify-content-between px-2">
            <a href="{% url 'instructors' %}?sort_by=user__username&sort_direction=asc" class="flex-item">
                {% if sort_by == 'user__username' and sort_direction == 'asc' %}
                    <div class="p-1 bg-success rounded">
                        <img src="{{ STATIC_URL }}images/icons/a-z-active.png" alt="a-z active icon" class="custom-icon-image">
                    </div>
                {% else %}
                    <div class="p-1 rounded">
                        <img src="{{ STATIC_URL }}images/icons/a-z.png" alt="a-z icon" class="custom-icon-image">
                    </div>
                {% endif %}
            </a>
            <span class="my-auto mx-3 flex-item"><strong>Name</strong></span>
            <a href="{% url 'instructors' %}?sort_by=user__username&sort_direction=desc" class="flex-item">
                {% if sort_by == 'user__username' and sort_direction == 'desc' %}
                <div class="p-1 bg-success rounded">
                    <img src="{{ STATIC_URL }}images/icons/z-a-active.png" alt="z-a active icon" class="custom-icon-image">
                </div>
                {% else %}
                <div class="p-1 rounded">
                    <img src="{{ STATIC_URL }}images/icons/z-a.png" alt="z-a icon" class="custom-icon-image">
                </div>
                {% endif %}
            </a>
        </div>
        <hr class="my-2">
        <!-- Sort by rating -->
        <div class="dropdown-item w-100 d-flex justify-content-between px-2">
            <a href="{% url 'instructors' %}?sort_by=rating&sort_direction=desc" class="flex-item">
                {% if sort_by == 'rating' and sort_direction == 'desc' %}
                    <div class="p-1 bg-success rounded">
                        <img src="{{ STATIC_URL }}images/icons/rating-hi-lo-active.png" alt="rating high to low active icon" class="custom-icon-image">
                    </div>
                {% else %}
                    <div class="p-1 rounded">
                        <img src="{{ STATIC_URL }}images/icons/rating-hi-lo.png" alt="rating hight to low icon" class="custom-icon-image">
                    </div>
                {% endif %}
            </a>
            <span class="my-auto mx-3 flex-item"><strong>Rating</strong></span>
            <a href="{% url 'instructors' %}?sort_by=rating&sort_direction=asc" class="flex-item">
                {% if sort_by == 'rating' and sort_direction == 'asc' %}
                <div class="p-1 bg-success rounded">
                    <img src="{{ STATIC_URL }}images/icons/rating-lo-hi-active.png" alt="rating low to high active icon" class="custom-icon-image">
                </div>
                {% else %}
                <div class="p-1 rounded">
                    <img src="{{ STATIC_URL }}images/icons/rating-lo-hi.png" alt="rating low to high icon" class="custom-icon-image">
                </div>
                {% endif %}
            </a>
        </div>
        <hr class="my-2">
        <!-- Sort by lesson count -->
        <div class="dropdown-item w-100 d-flex justify-content-between px-2">
            <a href="{% url 'instructors' %}?sort_by=lesson_count&sort_direction=desc" class="flex-item">
                {% if sort_by == 'lesson_count' and sort_direction == 'desc' %}
                    <div class="p-1 bg-success rounded">
                        <img src="{{ STATIC_URL }}images/icons/hi-lo-active.png" alt="high to low active icon" class="custom-icon-image">
                    </div>
                {% else %}
                    <div class="p-1 rounded">
                        <img src="{{ STATIC_URL }}images/icons/hi-lo.png" alt="high to low icon" class="custom-icon-image">
                    </div>
                {% endif %}
            </a>
            <span class="my-auto mx-3 flex-item"><strong>Lessons</strong></span>
            <a href="{% url 'instructors' %}?sort_by=lesson_count&sort_direction=asc" class="flex-item">
                {% if sort_by == 'lesson_count' and sort_direction == 'asc' %}
                <div class="p-1 bg-success rounded">
                    <img src="{{ STATIC_URL }}images/icons/lo-hi-active.png" alt="low to high active icon" class="custom-icon-image">
                </div>
                {% else %}
                <div class="p-1 rounded">
                    <img src="{{ STATIC_URL }}images/icons/lo-hi.png" alt="low to high icon" class="custom-icon-image">
                </div>
                {% endif %}
            </a>
        </div>
    </div>
</div>
