{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% include 'lessons/snippets/lesson_sorting.html' %}
    <div class="overlay"></div>

    <div class="container h-100">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center my-3" id="lesson-page-title">{{ lesson.lesson_name }}</h2>
                <p class="text-center my-3">By <a href="{% url 'instructor_profile' lesson.instructor_profile.id %}">{{ lesson.instructor_profile }}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ lesson.video_url }}" allowfullscreen></iframe>
                </div>
                <div class="lesson-description my-3">
                    <p>{{ lesson.description }}</p>
                </div>
                <div class="review d-flex justify-content-center">
                    {% if existing_review %}
                        <a href="{% url 'review_lesson' lesson.lesson_id %}" class="index-main-button btn btn-sm btn-warning rounded-20 py-1 my-2">Edit Review</a>
                    {% else %}    
                        <a href="{% url 'review_lesson' lesson.lesson_id %}" class="index-main-button btn btn-sm btn-warning rounded-20 py-1 my-2">Write Review</a>
                    {% endif %}
                </div>
                <div class="reviews">
                    <h4 class="mb-4">Reviews</h4>
                    {% for review in lesson_reviews %}
                        {% include 'studio/snippets/lesson_review.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


