{% extends "base.html" %}

{% block content %}
    <div class="container header-container">
        <div class="account-overlay"></div>
        <div class="account-container pt-4 d-flex justify-content-center">
            <div class="row bg-white py-4 px-2 account-border">
                <div class="col-12">
                    <div class="allauth-form-inner-content">
                        {% block inner_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}