{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
</div>

{% endblock %}
{% block content %}
    <div class="container header-container">
        <div class="account-overlay"></div>
        <div class="account-container pt-4 d-flex justify-content-center">
            <div class="row bg-white py-4 px-2 account-border">
                <div class="col">
                    <h1 class="text-center title-text my-3 {% if show_discount_banner %}pt-xl-4{% endif %}">Page Not Found : 404</h1>
                    <hr>
                    <br>
                    <p class="text-center">This page was not found, press the button below to return to the home page</p>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col text-center">
                    <a class="btn btn-lg btn-custom-darken text-center" href="{% url 'home' %}" role="button">
                        <strong>Home Page</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}