{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1 class="text-center title-text my-3 {% if show_discount_banner %}pt-xl-4{% endif %}">Page Not Found : 404</h1>
        </div>
    </div>
</div>

{% endblock %}
{% block content %}
    <section>
        <div class="row w-100">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-lg btn-custom-darken" href="#" role="button">
                    <strong>Home Page</strong>
                </a>
            </div>
        </div>
    </section>
{% endblock %}