{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1 class="text-center title-text my-3 {% if show_discount_banner %}pt-xl-4{% endif %}">Page Not Found : 404</h1>
        </div>
    </div>
</div>

{% endblock %}
    <section>
        <a class="btn btn-custom-darken btn-sm dropdown-toggle text-center" href="#" role="button">
                <strong>Home Page</strong>
        </a>
    </section>
    
    {% endblock %}