<!DOCTYPE html>
<script>
    // Delete review
    function delete_review(review_pk) {
        let csrfToken = "{{ csrf_token }}";
        $.ajax({
            type:"POST",
            url:"/lessons/delete_review/"+review_pk,
            data:{
                'csrfmiddlewaretoken': csrfToken,
                'review_pk': review_pk,
            },
            success: function(json_response){
                if (json_response['success'] == 'True') {
                    $('#flagged_div_'+review_pk).empty();
                    $('#flagged_div_'+review_pk).append(`<div class="col">
                                                            <div class="w-100">
                                                                <p class="text-center m-0">Review removed</p>
                                                            </div>
                                                          </div>`);
                    let numberOfFlags = (parseInt($('#total-flag-number').text())) - 1;
                    $('#total-flag-number').text(numberOfFlags);
                } else {
                    let target = '#flagged_div_' + review_pk +' #flagged_buttons_' + review_pk
                    $(target).empty();
                    $(target).append(`<div class="w-100">
                                        <p class="text-center text-danger">
                                            <strong>Error: Please check this item in djangos admin panel</strong>
                                        </p>
                                       </div>`);
                }
            }
        })
    }

    // Remove all flags for this review
    function remove_flag(review_pk) {
        let csrfToken = "{{ csrf_token }}";
        $.ajax({
            type:"POST",
            url:"/lessons/remove_flag/",
            data:{
                'csrfmiddlewaretoken': csrfToken,
                'flagged_review_pk': review_pk,
            },
            success: function(json_response){
                if (json_response['removed_flag'] == 'True') {
                    $('#flagged_div_'+review_pk).empty();
                    $('#flagged_div_'+review_pk).append(`<div class="col">
                                                            <div class="w-100">
                                                                <p class="text-center m-0">Removed flags for this review</p>
                                                            </div>
                                                          </div>`);
                    let numberOfFlags = (parseInt($('#total-flag-number').text())) - 1;
                    $('#total-flag-number').text(numberOfFlags);
                } else {
                    let target = '#flagged_div_' + review_pk +' #flagged_buttons_' + review_pk
                    $(target).empty();
                    $(target).append(`<div class="w-100">
                                        <p class="text-center text-danger">
                                            <strong>Error: Please check this item in djangos admin panel</strong>
                                        </p>
                                       </div>`);
                }
            }
        })
    }

</script>