{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="text-center title-text mt-3 mb-0">Lesson Admin for {{ profile }}</h1>
                <p class="text-center mb-3">Create / Edit / Delete your lessons here</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container page-contents">
        <div class="row mx-auto">
            <div class="col-12">
                {% if instructor_created_lessons %}
                    {% for lesson in instructor_created_lessons %}
                        <div class="row border custom-border mb-3 instructor-admin-card-text">
                            <div class="col-12 col-md-4">
                                {% if lesson.image %}
                                    <div class="lesson-card-image-container m-auto p-3 text-center">
                                        <img class="img-fluid lesson-admin-images" src="{{ lesson.image.url }}" alt="{{ lesson.lesson_name }}">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-12 col-md-8 p-3 d-flex flex-column">
                                <p class="mb-0"><strong>{{ lesson.lesson_name }}</strong></p>
                                <p class="card-text mb-0"><small><strong>Rating: {{ lesson.rating }}{% if lesson.rating %}/10{% endif %}</strong></small></p>
                                {% if lesson.price > 0 %}
                                    <p class="card-text mb-0"><small class="text-muted">Price: €{{ lesson.price }}</small></p>
                                {% else %}
                                    <p class="card-text mb-0"><small class="text-muted">Price: <strong>Free!</strong></small></p>
                                {% endif %}
                                <p class="card-text alt-font mt-2">{{ lesson.card_description }}</p>
                                <div class="row mt-auto">
                                    <div class="col-6">
                                        <p class="text-left mb-0"><a class="btn btn-primary instructor-admin-button" href="{% url 'edit_lesson' lesson.lesson_id %}" role="button">Edit</a></p>
                                    </div>
                                    <div class="col-6">
                                        {% if lesson.pk not in customer_purchases %}
                                            <p class="text-right mb-0"><a class="btn btn-danger instructor-admin-button" href="{% url 'delete_lesson' lesson.lesson_id %}" role="button">Delete</a></p>
                                        {% else %}
                                            <p class="text-right mb-0"><a class="btn btn-secondary instructor-admin-button" role="button" data-toggle="popover" title="Warning" data-placement="bottom" data-content="You can only edit a lesson customers have purchased.">Delete</a></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You have not created any lessons yet</p>
                {% endif %}
                <div class="div">
                    <p class="text-center"><a class="btn btn-info mt-2 mb-4" href="{% url 'create_lesson' %}" role="button">Create New Lesson</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}