{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1 class="text-center my-3" id="lesson-page-title">{{ page_title}}</h1>
            {% if sub_title %}
                <p class="text-center my-3"><strong>{{ sub_title }}</strong></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container page-contents">
    {% if instructor_to_display %}
        {% include 'lessons/snippets/instructor_profile_header.html' %}
    {% endif %}
    <div class="row">
        <div class="col-12 mt-2">
            {% include 'lessons/snippets/lesson_sorting.html' %}
            <p class="text-center mb-1"><strong>{{ filter_title }}</strong></p>
            {% if all_lessons %}
                {% for lesson in all_lessons %}
                    {% include 'lessons/snippets/lesson_card.html' %}
                {% endfor %}
            {% else %}
                {% if instructor_to_display %}
                    <p class="text-center mt-5"><strong>No lesons available</strong></p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<div id="modal-container"></div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    {% include 'lessons/includes/lesson_buttons_script.html' %}
{% endblock %}

