{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1 class="text-center title-text my-3 {% if show_discount_banner %}pt-4{% endif %}" id="lesson-page-title">{{ page_title}}</h1>
            {% if sub_title %}
                <p class="text-center my-3"><strong>{{ sub_title }}</strong></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container page-contents">
    {% if instructor_to_display %}
        {% include 'lessons/snippets/instructor_profile_header.html' %}
    {% endif %}
    <div class="row">
        <div class="col-12 mt-2">
            {% include 'lessons/snippets/lesson_sorting.html' %}
            <p class="text-center mb-1">
                <strong>
                    <small>
                        {{ filter_title }}{{ filter_subtitle }}{% if lessons %} : Page {{ lessons.number }} of {{ lessons.paginator.num_pages }}{% endif %}
                    </small>
                </strong>
            </p>
            {% if current_query %}
                <!-- Remove current query -->
                <p class="text-center my-2">Results for: 
                    <a href="{% url 'lessons' %}?sort={{ sort_by }}&direction={{ sort_direction }}&filter={{ filter_by }}#lesson-sorting" class="btn btn-sm btn-custom-darken text-white py-0">
                        {{ current_query }}
                        <span><i class="fas fa-times-circle"></i></span>
                    </a>
                </p>
            {% endif %}
            {% if lessons %}
                {% for lesson in lessons %}
                    {% include 'lessons/snippets/lesson_card.html' %}
                {% endfor %}
            {% else %}
                {% if instructor_to_display %}
                    <p class="text-center mt-5"><strong>No lesons available</strong></p>
                {% endif %}
            {% endif %}
            <!-- Page buttons -->
            {% if lessons %}
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link btn btn-custom-darken" href="{% url 'lessons' %}?sort={{ sort_by }}&direction={{ sort_direction }}&filter={{ filter_by }}&{% if lessons.has_previous %}page={{ lessons.previous_page_number }}{% else %}&page={{ lessons.number }}{% endif %}#lesson-sorting" tabindex="-1" aria-disabled="true">
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item" aria-current="page">
                                    <a class="page-link bg-light text-black" href="#">{{ lessons.number }} of {{ lessons.paginator.num_pages }}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link btn btn-custom-darken" href="{% url 'lessons' %}?sort={{ sort_by }}&direction={{ sort_direction }}&filter={{ filter_by }}{% if lessons.has_next %}&page={{ lessons.next_page_number }}{% else %}&page={{ lessons.number }}{% endif %}#lesson-sorting">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="modal-container"></div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    {% include 'lessons/includes/lesson_buttons_script.html' %}
{% endblock %}

