{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col">
                <h1>{{ profile }}'s subscribed lessons</h1>
                <hr>
                {% if lesson_items %}
                    {% for lesson in lesson_items %}
                        <p><strong>Instructor Name:</strong> {{lesson.lesson.instructor_profile}}  |  <strong>Lesson Name</strong> {{ lesson.lesson.lesson_name }}</p>
                        <a class="btn btn-danger" href="{% url 'unsubscribe_lesson' lesson.id %}" role="button">Unsubscribe</a>
                        <a class="btn btn-primary" href="{% url 'studio' lesson.lesson_id %}" role="button">Start Lesson</a>
                        <hr>
                    {% endfor %}
                {% else %}
                    <p>You aren't subscribed to any lessons</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}