<div class="card mb-3" style="width: 100%;" id="{{ lesson.lesson_id }}">
    <div class="row no-gutters">
        <div class="col-md-4">
            {% if lesson.image %}
                <div class="lesson-card-image-container text-center">
                    <img class="lesson-card-image img-fluid" src="{{ lesson.image.url }}" alt="{{ lesson.lesson_name }}">
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ lesson.lesson_name }}</h5>
                <p class="card-text mb-0"><small>By: <a href="{% url 'instructor_profile' lesson.instructor_profile.id %}">{{ lesson.instructor_profile }}</a> | Rating: {{ lesson.rating }}</small></p>
                {% if lesson.price > 0 %}
                    <p class="card-text"><small class="text-muted">Price: {{ lesson.price }}</small></p>                    
                {% else %}
                    <p class="card-text"><small class="text-muted">Price: <strong>Free!</strong></small></p>
                {% endif %}
                <p class="card-text alt-font">{{ lesson.card_description }}</p>
                <div class="lesson-card-button-container">
                    {% if user.is_authenticated %}
                        {% if lesson.lesson_id in subscribed_lesson_list %}
                            <span class="btn btn-warning button-unsubscribe" id="unsubscribe_lesson_button_id_{{ lesson.lesson_id }}" href="" onclick="javascript:subscribe('false', '{{ lesson.lesson_id }}', '{{ current_filter }}')" role="button">Unsubscribe</span>
                            <span hidden class="btn btn-danger" href="" id="subscribe_lesson_button_id_{{ lesson.lesson_id }}" onclick="javascript:subscribe('true', '{{ lesson.lesson_id }}', '{{ current_filter }}')" role="button">Subscribe to lesson</span>
                            <a class="btn btn-primary" href="{% url 'studio' lesson.lesson_id %}" id="start_lesson_button_id_{{ lesson.lesson_id }}" role="button">Start Lesson</a>
                        {% else %}
                            {% if lesson.lesson_id not in paid_lesson_list and lesson.is_free == False %}
                                <a class="btn btn-warning" href="" role="button"><span>€{{ lesson.price }}</span>
                                    <span class="icon">
                                        <i class="fas fa-cart-plus"></i>
                                    </span>
                                </a>
                            {% else %}
                                <span hidden class="btn btn-warning button-unsubscribe" id="unsubscribe_lesson_button_id_{{ lesson.lesson_id }}" href="" onclick="javascript:subscribe('false', '{{ lesson.lesson_id }}', '{{ current_filter }}')" role="button">Unsubscribe</span>
                                <span class="btn btn-danger" href="" id="subscribe_lesson_button_id_{{ lesson.lesson_id }}" onclick="javascript:subscribe('true', '{{ lesson.lesson_id }}', '{{ current_filter }}')" role="button">Subscribe to lesson</span>
                                <a hidden class="btn btn-primary" href="{% url 'studio' lesson.lesson_id %}" id="start_lesson_button_id_{{ lesson.lesson_id }}" role="button">Start Lesson</a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'account_signup' %}" role="button">Signup to view</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>