<div class="dropdown d-flex justify-content-center mt-2">
  <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort Lessons
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a href="{% url 'lessons' %}?sort=rating&direction=desc&filter={{ current_filter }}" class="dropdown-item">By Rating: High to Low</a>
    <a href="{% url 'lessons' %}?sort=rating&direction=asc&filter={{ current_filter }}" class="dropdown-item">By Rating: Low to High</a>
    <a href="{% url 'lessons' %}?sort=name&direction=asc&filter={{ current_filter }}" class="dropdown-item">By Name: A-Z</a>
    <a href="{% url 'lessons' %}?sort=name&direction=desc&filter={{ current_filter }}" class="dropdown-item">By Name: Z-A</a>
    <a href="{% url 'lessons' %}?sort=instructor&direction=asc&filter={{ current_filter }}" class="dropdown-item">By Instructor: A-Z</a>
    <a href="{% url 'lessons' %}?sort=instructor&direction=desc&filter={{ current_filter }}" class="dropdown-item">By Instructor: Z-A</a>
    <a href="{% url 'lessons' %}?sort=subscripbers&direction=desc&filter={{ current_filter }}" class="dropdown-item">By Subscribers: High to Low</a>
    <a href="{% url 'lessons' %}?sort=subscripbers&direction=asc&filter={{ current_filter }}" class="dropdown-item">By Subscribers: Low to High</a>
    <a href="{% url 'lessons' %}?sort=price&direction=asc&filter={{ current_filter }}" class="dropdown-item">By Price: Low to High</a>
    <a href="{% url 'lessons' %}?sort=price&direction=desc&filter={{ current_filter }}" class="dropdown-item">By Price: High to Low</a>
  </div>
</div>