<!DOCTYPE html>
<!-- Modal -->
<div class="modal fade" id="moreDetailsModal" tabindex="-1" aria-labelledby="moreDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="moreDetailsModalLabel">{{ lesson.lesson_name }}</h5><br />
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBody">
        <div>
            <p class="text-muted mb-1">By: {{ lesson.instructor_profile }}</p>
            <p class="text-muted mb-1">Rating: {{ lesson.rating }}{% if lesson.rating %}/10{% endif %}</p>
            <p class="text-muted mb-1">Time: {{ lesson.time }} minutes</p>
        </div>
        <hr>
        {{ lesson.description|linebreaks }}
        <hr>
        {% if lesson_reviews %}
            <div id="modal-lesson-reviews">
                <p><strong>{{ review_count }} Reviews</strong></p>
                {% for review in lesson_reviews %}
                    <div class="row lesson-review-div mb-4">
                        <div class="col-3 col-sm-2 col-lg-2 pt-3">
                            {% if review.profile.image %}
                                <img src="{{ review.profile.image.url }}" class="review-image rounded-circle" alt="{{ review.profile }}'s profile image'">
                            {% else %}
                                <img src="{{ MEDIA_URL_for_json }}profile_images/no_profile_image.jpg" class="review-image rounded-circle" alt="{{ review.profile }}'s profile image'">
                            {% endif %}
                        </div>
                        <div class="col">
                            <p class="review-title my-0"><strong>{{ review.profile }}'s Review</strong></p>
                            <p class="text-muted my-0"><small><strong>{{ review.rating }} / 10</strong></small></p>
                            <p class="review-text mb-0 mt-2">{{ review.review }}</p>
                            <p class="review-text text-muted my-0"><small>{{ review.date }}</small>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'flag_review' review.pk lesson.lesson_id %}" class=" btn btn-sm text-warning py-0 pl-4 my-0">
                                        <span class="icon">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No reviews yet, why not give it a try?</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>