<!DOCTYPE html>
<div class="row pt-2" id="lesson-sorting">
    <div class="col-12 d-flex">
        <div class="form-container mx-auto">
            <form class="form" method="GET" action="/lessons/">
                <div class="input-group w-100">
                    <input type="text" name="q" placeholder="Search lessons" value="{% if current_query %}{{ current_query }}{% endif %}">
                    <div class="input-group-append">
                        <button class="btn btn-custom-darken text-white" type="submit">
                            <span>
                                <i class="fas fa-search"></i>                    
                            </span>
                        </button>
                    </div>
                </div>
                {% if instructor_to_display %}
                    <input type="hidden" name="instructor" value="{{ instructor_to_display.id }}">
                {% endif %}
                <input type="hidden" name="sort" value="{{ sort_by }}">
                <input type="hidden" name="filter" value="{{ filter_by }}">
                <input type="hidden" name="direction" value="{{ sort_direction }}">
            </form>        
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="dropdown d-flex justify-content-end my-2">
            <a class="btn btn-custom-darken btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="{% url 'lessons' %}?sort={{ sort_by }}&direction={{ sort_direction }}&filter=all_lessons{% if instructor_to_display %}&instructor={{ instructor_to_display.id }}{% endif %}{% if current_query %}&q={{ current_query }}{% endif %}" class="dropdown-item">All lessons  {% if filter_by == 'all_lessons' %}<i class="fas fa-check text-success"></i>{% endif %}</a>
                <a href="{% url 'lessons' %}?sort={{ sort_by }}&direction={{ sort_direction }}&filter=subscribed_lessons{% if instructor_to_display %}&instructor={{ instructor_to_display.id }}{% endif %}{% if current_query %}&q={{ current_query }}{% endif %}" class="dropdown-item">Subscribed Lessons  {% if filter_by == 'subscribed_lessons' %}<i class="fas fa-check text-success"></i>{% endif %}</a>
                <a href="{% url 'lessons' %}?sort={{ sort_by }}&direction={{ sort_direction }}&filter=purchased_lessons{% if instructor_to_display %}&instructor={{ instructor_to_display.id }}{% endif %}{% if current_query %}&q={{ current_query }}{% endif %}" class="dropdown-item">Purchased Lessons {% if filter_by == 'purchased_lessons' %}<i class="fas fa-check text-success"></i>{% endif %}</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="dropdown d-flex justify-content-start my-2">
            <a class="btn btn-custom-darken btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <!-- Sort by rating -->
                <div class="dropdown-item w-100 d-flex justify-content-between px-2">
                    <a href="{% url 'lessons' %}?sort=rating&direction=desc&filter={{ filter_by }}{% if instructor_to_display %}&instructor={{ instructor_to_display.id }}{% endif %}{% if current_query %}&q={{ current_query }}{% endif %}#lesson-sorting" class="flex-item">
                        {% if sort_by == 'rating' and sort_direction == 'desc' %}
                            <div class="p-1 bg-success rounded">
                                <img src="{{ STATIC_URL }}images/icons/rating-hi-lo-active.png" alt="rating high to low active icon" class="custom-icon-image">
                            </div>
                        {% else %}
                            <div class="p-1 rounded">
                                <img src="{{ STATIC_URL }}images/icons/rating-hi-lo.png" alt="rating hight to low icon" class="custom-icon-image">
                            </div>
                        {% endif %}
                    </a>
                    <span class="my-auto flex-item"><strong>Rating</strong></span>
                    <a href="{% url 'lessons' %}?sort=rating&direction=asc&filter={{ filter_by }}{% if instructor_to_display %}&instructor={{ instructor_to_display.id }}{% endif %}{% if current_query %}&q={{ current_query }}{% endif %}#lesson-sorting" class="flex-item">
                        {% if sort_by == 'rating' and sort_direction == 'asc' %}
                            <div class="p-1 bg-success rounded">
                                <img src="{{ STATIC_URL }}images/icons/rating-lo-hi-active.png" alt="rating low to high active icon" class="custom-icon-image">
                            </div>
                        {% else %}
                            <div class="p-1 rounded">
                                <img src="{{ STATIC_URL }}images/icons/rating-lo-hi.png" alt="rating low to high icon" class="custom-icon-image">
                            </div>
                        {% endif %}
                    </a>
                </div>
                <hr class="my-2">
                <!-- Sort by lesson name-->
                <div class="dropdown-item w-100 d-flex justify-content-between px-2">
                    <a href="{% url 'lessons' %}?sort=lesson_name&direction=asc&filter={{ filter_by }}{% if instructor_to_display %}&instructor={{ instructor_to_display.id }}{% endif %}{% if current_query %}&q={{ current_query }}{% endif %}#lesson-sorting" class="flex-item">
                        {% if sort_by == 'lesson_name' and sort_direction == 'asc' %}
                            <div class="p-1 bg-success rounded">
                                <img src="{{ STATIC_URL }}images/icons/a-z-active.png" alt="a-z active icon" class="custom-icon-image">
                            </div>
                        {% else %}
                            <div class="p-1 rounded">
                                <img src="{{ STATIC_URL }}images/icons/a-z.png" alt="a-z icon" class="custom-icon-image">
                            </div>
                        {% endif %}
                    </a>
                    <span class="my-auto flex-item"><strong>Name</strong></span>
                    <a href="{% url 'lessons' %}?sort=lesson_name&direction=desc&filter={{ filter_by }}{% if instructor_to_display %}&instructor={{ instructor_to_display.id }}{% endif %}{% if current_query %}&q={{ current_query }}{% endif %}#lesson-sorting" class="flex-item">
                        {% if sort_by == 'lesson_name' and sort_direction == 'desc' %}
                            <div class="p-1 bg-success rounded">
                                <img src="{{ STATIC_URL }}images/icons/z-a-active.png" alt="z-a active icon" class="custom-icon-image">
                            </div>
                        {% else %}
                            <div class="p-1 rounded">
                                <img src="{{ STATIC_URL }}images/icons/z-a.png" alt="z-a icon" class="custom-icon-image">
                            </div>
                        {% endif %}
                    </a>
                </div>
                <hr class="my-2">
                <!-- Sort by price name-->
                <div class="dropdown-item w-100 d-flex justify-content-between px-2">
                    <a href="{% url 'lessons' %}?sort=price&direction=desc&filter={{ filter_by }}{% if instructor_to_display %}&instructor={{ instructor_to_display.id }}{% endif %}{% if current_query %}&q={{ current_query }}{% endif %}#lesson-sorting" class="flex-item">
                        {% if sort_by == 'price' and sort_direction == 'desc' %}
                            <div class="p-1 bg-success rounded">
                                <img src="{{ STATIC_URL }}images/icons/price-hi-lo-active.png" alt="price high to low active icon" class="custom-icon-image">
                            </div>
                        {% else %}
                            <div class="p-1 rounded">
                                <img src="{{ STATIC_URL }}images/icons/price-hi-lo.png" alt="price high to low icon" class="custom-icon-image">
                            </div>
                        {% endif %}
                    </a>
                    <span class="my-auto mx-2 flex-item"><strong>Price</strong></span>
                    <a href="{% url 'lessons' %}?sort=price&direction=asc&filter={{ filter_by }}{% if instructor_to_display %}&instructor={{ instructor_to_display.id }}{% endif %}{% if current_query %}&q={{ current_query }}{% endif %}#lesson-sorting" class="flex-item">
                        {% if sort_by == 'price' and sort_direction == 'asc' %}
                            <div class="p-1 bg-success rounded">
                                <img src="{{ STATIC_URL }}images/icons/price-lo-hi-active.png" alt="price low to high active icon" class="custom-icon-image">
                            </div>
                        {% else %}
                            <div class="p-1 rounded">
                                <img src="{{ STATIC_URL }}images/icons/price-lo-hi.png" alt="price low to high icon" class="custom-icon-image">
                            </div>
                        {% endif %}
                    </a>
                </div>
                <!-- Sort by instructor name-->
                {% if not instructor_to_display %}
                    <hr class="my-2">
                    <div class="dropdown-item w-100 d-flex justify-content-between px-2">
                        <a href="{% url 'lessons' %}?sort=instructor_profile&direction=asc&filter={{ filter_by }}{% if current_query %}&q={{ current_query }}{% endif %}#lesson-sorting" class="flex-item">
                            {% if sort_by == 'instructor_profile' and sort_direction == 'asc' %}
                                <div class="p-1 bg-success rounded">
                                    <img src="{{ STATIC_URL }}images/icons/a-z-active.png" alt="a-z active icon" class="custom-icon-image">
                                </div>
                            {% else %}
                                <div class="p-1 rounded">
                                    <img src="{{ STATIC_URL }}images/icons/a-z.png" alt="a-z icon" class="custom-icon-image">
                                </div>
                            {% endif %}
                        </a>
                        <span class="my-auto mx-2 flex-item"><strong>Instructor</strong></span>
                        <a href="{% url 'lessons' %}?sort=instructor_profile&direction=desc&filter={{ filter_by }}{% if current_query %}&q={{ current_query }}{% endif %}#lesson-sorting" class="flex-item">
                            {% if sort_by == 'instructor_profile' and sort_direction == 'desc' %}
                                <div class="p-1 bg-success rounded">
                                    <img src="{{ STATIC_URL }}images/icons/z-a-active.png" alt="z-a active icon" class="custom-icon-image">
                                </div>
                            {% else %}
                                <div class="p-1 rounded">
                                    <img src="{{ STATIC_URL }}images/icons/z-a.png" alt="z-a icon" class="custom-icon-image">
                                </div>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>